@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


.aboutouter {
    display: inline-block;
    background-color: #342606;
    text-align: center;
    padding-bottom: 4%;
}

.aboutinner {
    display: inline-block;
    background-color: #ead8aa;
    padding: 4% 3% !important;
    margin-top: 4%;
    /* margin-bottom: 4%; */
    width:72% !important;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.aboutinner h2{
    margin-bottom: 2%;
}