@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


.fg-story {
    display:inline-block;
    border:solid;
}

#row1{
    background-color: #362307 !important;
    font-family: 'Roboto', sans-serif;
}

#row2 {
    background-color: #d6bc7e !important;
}

#row1 .container-fluid.rowdata h1{
    text-decoration-color:#d6bc7e !important;
    font-size: 300%;
}

.container-fluid.rowdata {
    /* border:solid; */
    width:fit-content;
}

#row1 .container-fluid.rowdata {
    margin-top: 10%;
    color: #d6bc7e;
    padding-top:6%;
    padding-bottom:4%;
    padding-right:10%;
}


#row2 .container-fluid.rowdata {
    color: #000000;
    text-align: justify;
    margin-top: 2%;
    font-weight: 400;
    padding-top:6%;
    padding-bottom: 6%;
    padding-left:10%;
    padding-right:10%;
    font-family: 'Roboto', sans-serif;
}

#row2 h2{
    margin-bottom: 6%;
}

#readmore a{
    text-decoration: none !important;
    color: #f9da9c;
    font-weight: 600;
}

#readmore:hover {
    border-bottom: solid;
}

@media screen and (max-width: 800px) {
    .carousel-caption {
      display: none;
    }
  }