.teamouter {
    background-color:#FAEDCD;
    padding-bottom: 4%;
}

.row {
    text-align: justify;
    padding-left: 7%;
    padding-right:7%;
}

.row h3{
    text-align: left;
    padding-top:2%;
}

.row p{
    padding-top: 2%;
    padding-right:5%
}

.teaminfo {
    padding-top:4%;
}