@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


.storyouter {
    display:inline-block;
    background-color: #FAEDCD;
    text-align: justify;
}

.storyinner{
    /* border:solid; */
    border-radius: 2%;
    background-color: #342606;
    color: #f9daa7;
    width:65% !important;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5% !important;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1100px) {
    .storyinner {
        border-radius: 0%;
        width:100% !important;
    }
  }