@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


.teamouter {
    display:inline-block;
    background-color: #FAEDCD;
    padding-bottom: 3%;
}

.teamGlob {
    /* border:solid; */
    text-align: center;
    margin:4% 4%;
}

.teamGlob img {
    /* border:solid; */
    border-width:10px;
    border-radius: 50%; 
    border-color: #573c11;
}

.teamMembers {
    /* border:solid; */
    background-color: #FAEDCD;
}

.row {
    /* border:solid; */
    background-color:#d1b57b;
    text-align: center;
    margin-left:3% !important;
    margin-right:3% !important;
    padding-top: 3%;
    padding-bottom: 3%;
}

.memberInfo {
    position: relative;
    background-color: #f9daa7;
    text-align: left;
    width:65% !important;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: -7%;
    margin-bottom:1%;
    margin-left: 35% !important;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

.logoInfo {
    background-color: #FAEDCD;
}

.groupLogo {
    padding-left:10% !important;
}

.groupInfo {
    text-align: justify;
    padding-right:15% !important;
    font-family: 'Roboto', sans-serif;
}

.groupInfo h1{
    margin-bottom: 3%;
}
